@media screen and (min-width: 1000px) {
    .fixWidth {
        width: 100%;
    }
    .row_1 {
        width: 30%;
    }
    .row_2 {
        width: 10%;
    }
    .row_3 {
        width: 10%;
    }
    .row_4 {
        width: 15%;
    }
    .row_5 {
        width: 15%;
    }
}
.table_form{
    border-top: solid 1px black;
}

.table_add_content_title tr td{
    /*border:solid 1px red;*/
    font-size: 0.9em;
}

.row {
    display:block;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;


    height: 35px;
    border-bottom: solid 1px black;
    /*border:solid 1px red;*/
    font-size: 0.9em;
}
.row_1 span{
    display:block;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;
}
.row_1 span{
    width: 360px;
    height: 100%;
}

.btn_group {
    display: inline-block;
    border-radius: 15px;
    width: 90px;
    height: 30px;
    margin-top: 5px;
    margin-left: 20px;
    background-color: #0079f5;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 0px 8px gray;
}
.btn_group:last-child {
    width: 130px;
    height: 30px;
    margin-left: 20px;
}
/*行下div设置成单元格样式*/
.row div {
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    /*border: solid 1px black;*/
}

.row_4 span ,.row_5 span{
    font-size: 16px;
    color: red;
}

.col1{
    /*display:block;*/
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;
}
.col1,.col2{
    width: 66%;
    display: inline-block;
}

