
input{
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换.行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;
    text-align: center;
}
@media screen and (min-width: 1000px) {
    .table_report {
        width: 100%;
    }
    .col_1{
        width: 2%;
    }
    .col_2 {
        width: 15%;
    }
    .col_3{
        width: 7%;
    }
    .col_4 {
        width: 7%;
    }
    .col_5 {
        width: 7%;
    }
    .col_6 {
        width: 17%;
    }
}

.col_read_1{
    width: 1%;
}
.col_read_2{
    width: 14%;
}
.col_read_3{
    width: 9%;
}
.col_read_4{
    width: 9%;
}
.col_read_5{
    width: 9%;
}
.col_read_6{
    width: 9%;
}
.col_read_7{
    width: 9%;
}
.col_read_8{
    width: 9%;
}
.col_read_9{
    width: 9%;
}
.col_read_10{
    width: 9%;
}
.col_read_11{
    width: 13%;
}

.col_3 input,.col_4 input,.col_5 input,.col_6 input{
    height: 100%;
    width: 100%;
    border:none;
}

.table_report{
    border-collapse: collapse;
    width: 100%;
    /*height: 22px;*/
}
.table_report tr td,
.table_report tr,
.table_read tr td,
.table_read tr
{
    border: solid 1.5px #303030;
}

.table_read {
    border-top: solid 1px #303030;
    border-collapse: collapse;
    border-bottom: solid 2px #303030;
    width: 100%;
}

.table_read tr:last-child td:last-child{
    text-align: right;
    margin-right: 20px;
    background: #848484;
}

.table_read td,.table_report td:not(.col_1){
    /*height: 22px;*/
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换.行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;
}

.table_form{
    border-top: solid 2px #303030;
}



.btn_group {
    display: inline-block;
    border-radius: 15px;
    width: 70px;
    height: 30px;
    margin-top: 5px;
    margin-left: 20px;
    background-color: #0079f5;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 0px 8px gray;
}

.tab_foot{
    height: 20px;
    text-align: right;
}

/*-----------------------------------------------------------------modal-------start-------*/

/* Overlay */
#modal-overlay {background-color: #303030; cursor:wait;}

/*#modal-content, #modal-data {display:none;}*/
/* Container */

#modal-content{
    display:block;
    color: #000;
    font: 16px/24px "Lucida Grande",Arial,sans-serif;
    position: fixed;
    z-index: 1002;
    height: 230px;
    width: 310px;
}
#modal-title {
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    text-shadow: 0 1px 0 #f4f4f4;
    font-size: 12px;
}
#modal-data {
    font-size:12px;
    border-bottom: 1px solid #ccc;
    color: #000;
    height: 147px;
    width: 320px;
    background-color: #ddd;
}
#modal-data textarea{
    height: 115px;
    width: 318px;
}

#modal-data input{
    height: 24px;
    width: 28px;
    float: right;
    margin-right: 10px;
    background-color: #ddd;
    border: none;
}
/*-----------------------------------------------------------------modal-------end--------*/

.error_text{
    font-size:14px;
    color: red;
}

.table_read tr:last-child span{
    margin-right: 20px;
}


